/***** GENERAL STYLING *****/

/* Affects entire document */
html {
    scroll-behavior: smooth;
  }
  
  /* Body */
  body {
    margin: 0; 
    opacity: 1; 
    transition: 3s opacity; 
    letter-spacing: .2vw; 
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw; 
    overflow-x: hidden; 
    user-select: none; 
  }
  
  body.fade-out {
    opacity: .1;
  }
  
  /* Heading 1 elements */
  h1 {
    text-transform: uppercase; 
    font-size: 2vw;
    font-family: Roboto Mono, "Trebuchet MS", Optima; 
    text-align: center; 
    margin-top: 3%;
    margin-bottom: 0; 
    color: rgb(58, 0, 105);
  }
  
  /* Heading 1 element hover effect */
  h1:hover {
    filter: grayscale(5%); 
    transform: scale(1.25);
    transition: transform 1s; 
  }
  
  /* Styling for portfolio title text */
  .white-text {
    color: #fff;
    padding-top: 10vh;
  }
  
  /* Paragraph elements */
  p {
    font-family: Roboto Mono, Rockwell Extra Bold;
    color: rgb(58, 0, 105);
    letter-spacing: .1vw; 
    font-size: 2.5vw; 
    padding-left: 1vw; 
    padding-right: 1vw; 
  }
  
  /* Paragraph element hover effect */
  p:hover {
  color: rgb(0, 0, 0);
  transition: transform 1s; 
  transform: scale(1.02);
  }
  
  /* Center class */
  .center {
    text-align: center;
  }
  
  /* Center class hover effect - This only affects the quote, github link, and footer */
  .center:hover {
    transition: transform 2s; 
    transform: scale(1.1); 
  }
  
  /* Anchor elements */
  a {
    color: blue; 
    cursor: pointer; 
    text-decoration: underline; 
  }
  
  /* Quotation elements */
  .quote {
    font-family: Roboto Mono, Rockwell Extra Bold;
    color: rgb(58, 0, 105);
    letter-spacing: .5px; 
    font-size: 1vw;
    padding-left: 25px;
    padding-right: 25px;
    font-style: italic;
  }
  
  .quote:hover {
    color: white;
    transition: transform 1s; 
    transform: scale(1.25);
  }
  
  /* Image elements */
  img {
    filter: grayscale(50%); /* This rids our pictures of 50% of their color */
    border-radius: 8px; 
    max-width: 100%; /* Ensures all images stay within the width of their container */
    height: 320px;
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto; 
    margin-right: auto;
  }
  
  /* Image element hover effects */
  img:hover {
  filter: grayscale(4%);  
  transition: transform 1s; 
  transform: scale(1.2);
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for footer element */
  footer {
    padding: 2%;
    background-color: white;
  }
  /***** END OF GENERAL STYLING *****/
  
  /***** NAVBAR STYLING *****/
  .Navbar {
    overflow: hidden;
    background-color: rgb(58, 0, 127);
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .Navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .Navbar a:hover {
    background-color: rgb(97, 36, 173);
  }
  
  .Navbar a.active {
    background-color: rgb(153, 72, 219);
    color: white;
  }
  
  .Navbar .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .Navbar a:not(:first-child) {display: none;}
    .Navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .Navbar.responsive {position: relative;}
    .Navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .Navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  /***** END OF NAVBAR STYLING *****/
  
  /***** VIDEO STYLING *****/
  /* Formatting for background video */
  #Typing_Video {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    min-width: 100%; 
    z-index: -1; 
  }
  
  /* Texts over the video */
  .Video_Text {
    background: rgba(58, 0, 105, 0.384); 
    color: white; 
    width: 100%; 
    padding: 20px; 
    position: relative; 
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
  }
  
  /* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
  @keyframes moveVideoText {
    from {top: -100vw;} 
    to {top: 0vw;} 
  }
  /***** END OF VIDEO STYLING *****/
  
  /***** Slideshow Styling *****/
  #Slideshow_Background {
    background: rgba(255, 255, 255, 0.35); 
  }
  
  .mySlides{
    display: none; 
  }
  
  /* Slideshow section / container */
  #Slideshow_Container {
    width: 39.5vw; 
    height: auto; 
    padding-top: 4%; 
    position: relative; 
    margin:auto; 
  }
  
  /* Remove the underline from the previous and next buttons on the slideshow */
  #Slideshow_Container a {
    text-decoration: none;
  }
  
  /* Images contained within the slideshow */
  .Slideshow_Images {
    vertical-align: middle; 
    height: auto; 
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%; 
  }
  
  /* Next and previous buttons */
  .Previous, .Next {
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    width: auto; 
    padding: 2vw; 
    color: darkgray; 
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; 
    user-select: none; 
    transition: 0.6s ease; 
  }
  
  /* Positioning the next button on the right hand side */
  .Next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Hover effect on slide show buttons */
  .Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
  }
  
  /* Slideshow text */
  .text {
    color: white; 
    padding: 1vw;
    position: absolute; 
    bottom: 0; 
    width: 100%;
    text-align: center; 
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; 
    font-size: 1.5vw; 
    background-color: rgba(0, 0, 0, 0.75); 
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; 
  }
  
  /* Styling of the dots under the slideshow */
  .dot {
    cursor: pointer; 
    height: 1vw; 
    width: 1vw;
    margin: .25vw; 
    background-color: white; 
    border-radius: 50%; 
    display: inline-block; 
    transition: background-color 0.6s ease; 
    z-index: 1; 
  }
  
  /* Hover effect for slideshow dots */
  .active, .dot:hover {
    background-color: black; 
  }
  
  /* Fading animation for slideshow */
  .fade {
    animation-name: fade; 
    animation-duration: 1.5s; 
    -webkit-animation-name: fade; 
    -webkit-animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
  }
  
  @keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
  }
  /***** End Slideshow Styling *****/
  
  /***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
  * { 
    box-sizing: border-box; 
  } 
  
  .Column_1 {
    float: left;
    width: 50%; 
    padding: 1.6%;
    height: 450px;  
    background-color: #f2f2f2; 
  }
  
  .Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: rgb(58, 0, 105);
  }
  
  /* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
  .Column_tall {
    padding-top: 1%;
    height: 450px;
  }
  
  /* This inserts something after the content of selected elements (in this case the elements with class "Row") */
  .Row:after {
  content: ""; 
  display: table; 
  clear: both; 
  }
  /***** END OF TABLE STYLING *****/
  
  /***** CONTACT FORM STYLING *****/
  /* Button used to open the contact form - fixed at the bottom of the page */
  .Pop_Up_Button {
    position: fixed; 
    bottom: 1.75vw; 
    right: 1.75vw; 
    width: 25vw; 
    background-color: white; 
    color: black; 
    border: solid black; 
    cursor: pointer; 
    -webkit-animation: movePopup 5s; 
    animation: movePopup 5s;
  }
  
  /* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
  @keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
  }
  
  @-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
  }
  
  /* Styling for the contact form */
  .form-popup {
    z-index: 8; 
    display: none; 
    position: fixed; 
    bottom: .5vw; 
    right: .5vw; 
  }
  
  /* Form styling */
  .form-container {
    max-width: 49vw; 
    padding: 1vw; 
    background-color: white; 
  }
  
  /* Input fields */
  .form-container input[type=text] {
    width: 100%; 
    padding: .93vw; 
    margin: .6vw 0 .6vw 0; 
    border: none; 
    background: Gainsboro; 
    font-size: 1vw; 
  }
  
  /* General styling for all buttons */
  button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; 
    font-size: 1.5vw; 
    font-weight: bold; 
    padding: 1.5vw; 
    cursor: pointer; 
    width: 100%;
    height: auto; 
  }
  
  /* Hover effect for contact and submit buttons */
  button:hover, .form-container .btn:hover {
    color: white; 
    background-color: black; 
    transition-duration: 1s; 
    -webkit-transition-duration: 1s; 
    border-color: silver; 
  }
  
  /* Submit button */
  .form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh;
  }
  
  /* Close button */
  .form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
  }
  
  /* Styling for close button on hover */
  .form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
  }
  /***** END OF CONTACT FORM STYLING *****/
  
    /* Media Queries */
  
    /* Mobile devices - Small screens */
    @media screen and (max-width: 480px) {
    .Navbar {
    flex-direction: column;
    }
    .Navbar a {
    width: 100%;
    font-size: 14px;
    }}
    
    
    /* Tablets - Medium screens */
    @media screen and (min-width: 481px) and (max-width: 768px) {
    .Navbar {
    flex-direction: row;
    }
    .Navbar a {
    width: auto;
    font-size: 16px;
    }}
    
    
    /* Desktops - Large screens */
    @media screen and (min-width: 769px) {
    .Navbar {
    flex-direction: row;
    }
    .Navbar a {
    width: auto;
    font-size: 18px;
    }}
    
    
    /* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
    @media screen and (max-width: 576px) {
    img {
    height: 100px;
    margin-top: 150px;
    }
    }
    
    /* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
    @media screen and (max-width: 576px) {
    .Column_1 {
    overflow: auto;
    }}
    
    /* Screens that are 576px and smaller will not display the background video */
    @media screen and (max-width: 576px) {
    #Typing_Video {
    display: none;
    }}
    
    /* Screens 576px and smaller will display navbar links equally distributed */
    @media screen and (max-width: 576px) {
    .Navbar a {
    width: 25%;
    font-size: 12px;
    }}
  